body{
	font-family: "adobe hebrew", arial, sans-serif;
	width: 850px;
	margin: 0 auto;
	background-color: ;
}

ul li{
	display: inline;
}

.para1{
	background-color: #999;
	border: 3px solid #333;
	border-radius: 10px;
	padding: 5px;
	text-align: justify;
}

.signup{
	background-color: #999;
	border: 3px solid #333;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
}

p{
	color: #00f;
}

h1{
	text-align: center;
	text-decoration: underline;
}

h2{
	text-align: center;
	text-decoration: underline;
}

a:link{
	color: #87f;
}

a:visited{
	color: #0f0;
}

a:hover{
	color: #f03;
}

a:active{
	color: #c0f;
}