body{
	font-family: "adobe hebrew", arial, sans-serif;
	width: 850px;
	margin: 0 auto;
	background-image: url("../images/background.jpg");
}

ul li{
	display: inline;
	background-color: #888;
	border: 3px solid #333;
	border-radius: 10px;
	padding: 5px;
	margin-left: 75px;
}

.content_para{
	-moz-column-count: 3;
	background-color: #999;
	border: 3px solid #333;
	border-radius: 10px;
	padding: 5px;
	text-align: justify;
	width: 850px;
}

ol{
	background-color: #999;
	width: 200px;
	border: 3px solid #333;
	border-radius: 10px;
	padding: 5px;
}

a{
	text-decoration: none;
	color: #863;
}

.mainimg{
	float: right;
	width: 400px;
}

.gallery{
	clear: right;
}

aside{
	clear: right;
	background-color: #999;
	border: 3px solid #333;
	border-radius: 10px;
	padding: 5px;
	width: 850px;
}

.intro_para{
	background-color: #999;
	border: 3px solid #333;
	border-radius: 10px;
	padding: 5px;
	text-align: justify;
	width: 850px;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% "adobe hebrew", arial, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px #673653;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px #673653;
	-moz-box-shadow: 0 1px 2px #673653;
	box-shadow: 0 1px 2px #673653;
}
.button:hover {
	text-decoration: none;
	color: #f03;
}
.button:active {
	position: relative;
	top: 1px;
	color: #c0f;
}

.footer{
	background-color: #999;
	border: 3px solid #333;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
}

.signup{
	background-color: #999;
	border: 3px solid #333;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
}

.imgs{
	background-color: #999;
	border: 3px solid #333;
	border-radius: 10px;
	padding: 5px;
	width: 850px;
}

p{
	color: #00f;
	width: 850px;
}

h1{
	text-align: center;
	text-decoration: underline;
	background-color: #888;
	border: 3px solid #333;
	border-radius: 10px;
	padding: 5px;
	width: 850px;
}

h2{
	text-align: center;
	text-decoration: underline;
	background-color: #888;
	border: 3px solid #333;
	border-radius: 10px;
	padding: 5px;
	width: 850px;
}

h3{
	text-align: center;
	padding: 10px;
	background-color: #888;
	width: 220px;
	text-decoration: underline;
	border: 3px solid #333;
	border-radius: 10px;
}

a:link{
	color: #673653;
}

a:visited{
	color: #0f0;
}

a:hover{
	color: #f03;
	background: #863;
}

a:active{
	color: #c0f;
}